<!-- Favicons -->
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">

<!-- About page fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,300..700;1,9..40,300..700&family=JetBrains+Mono:wght@400;500;600&display=swap" rel="stylesheet">

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-TLXQ4HNVS2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-TLXQ4HNVS2');
</script>

<!-- Google AdSense -->
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7502953893400892"
     crossorigin="anonymous"></script>

{{ if and .IsPage (eq .Section "post") }}
{{- $articleSchema := dict
    "@context" "https://schema.org"
    "@type" "BlogPosting"
    "headline" .Title
    "description" (.Description | default (.Summary | plainify))
    "datePublished" (.Date.Format "2006-01-02T15:04:05Z07:00")
    "dateModified" (.Lastmod.Format "2006-01-02T15:04:05Z07:00")
    "mainEntityOfPage" (dict "@type" "WebPage" "@id" .Permalink)
    "url" .Permalink
    "author" (dict "@type" "Person" "name" .Site.Title "url" .Site.BaseURL)
    "publisher" (dict "@type" "Person" "name" .Site.Title)
    "wordCount" .WordCount
    "inLanguage" .Language.LanguageCode
-}}
{{- with .Params.tags }}
    {{- $articleSchema = merge $articleSchema (dict "keywords" .) -}}
{{- end }}
{{- $articleImage := partial "helper/image" (dict "Context" . "Type" "article") -}}
{{- if $articleImage.exists }}
    {{- $articleSchema = merge $articleSchema (dict "image" (slice ($articleImage.permalink | absURL))) -}}
{{- end }}
<script type="application/ld+json">{{ $articleSchema | jsonify | safeJS }}</script>
{{ end }}
